body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    }
    
    header {

      padding: 20px;
      background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
      background-size: 180% 180%;
      animation: gradient-animation 18s ease infinite; 
    }
p{
  font-size: larger;
}
    
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0}
    
    nav ul li {
    display: inline-block;
    margin-right: 10px;
    }
    
    nav ul li a {
    text-decoration: none;
    color: #333;
    }
    
    .hero-section {
        color: black;
        -webkit-text-stroke: 0.3px white;
    padding: 75px;
    text-align: center;
background-image: url(https://source.unsplash.com/900x350/?cats);
 background-position: center;
  background-size: cover;
   min-height: calc(164px);
  
  }
    
    .features-section {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    background-image: url(https://source.unsplash.com/900x450/?dogs);
  background-size: cover;
  font-weight:bold;
  -webkit-text-stroke: 0.3px white;
   min-height: calc(164px);
    }
    .h3g{
      font-size: 35px;
      text-decoration:none;
      color: black;
      -webkit-text-stroke: 0.6px white;
    }

    .container-fluid{
      padding: 50px;
      background-color: #cecece;

    
    }
    .row{
      display: block;
      margin-left: auto;
      margin-right: auto;
        }
.jj{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

    -section .feature {
    display: inline-block;
    width: 25%;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    background-color: #f9f9f9;
    }
    
    .contests-section {
    padding: 50px;
    text-align: center;
    background-color: #dcd784;
    }
    
    .contests-section .contest {
    display: inline-block;
    width: 30%;
    padding: 20px;
     margin : 10px;
    background-color: #42b2e7;
    
    }
    
    footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align:left;
    }
    
#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite; 

 }

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url(https://images.unsplash.com/photo-1611003228941-98852ba62227?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFieSUyMGRvZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  display: inline-block;
  background-color: hotpink;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #f4f4f4;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: 1px dotted #fff;
  border-right: 1px dotted #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
}



footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

footer p a {
  text-decoration: none;
  color: red;
}

@media(min-width: 31.25rem) {
  #landing {
      display: flex;
      height: 100%;
  }

  #landing-text {
      height: 100vh;
  }

  #landing-image {
      height: 100vh;
  }
}

@media(min-width: 43.75rem) {
  .btn {
      padding: 1rem 3rem;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

#images{    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}


div.scroll-container {  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}

div.scroll-container img {
  padding: 10px;
}
